@import "./import";
body {
  font-family: "SF-Pro-Display";
}
main {
  .header {
    .nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: center;
      margin-top: 1.875rem;
      @media screen and (min-width: 480px) {
        margin-top: 2.1875rem;
      }
      @media screen and (min-width: 768px) {
        margin-top: 3.125rem;
      }
      .logo {
        img {
          width: 100%;
          height: 100%;
        }
        @media screen and (min-width: 480px) {
          width: 8rem;
          height: 2.25rem;
        }
        @media screen and (min-width: 575px) {
          width: 9.375rem;
          height: 2.8125rem;
        }
        @media screen and (min-width: 768px) {
          width: 92px;
          height: 1.75rem;
        }
        @media screen and (min-width: 991px) {
          width: 7.8125rem;
          height: 2.3125rem;
        }
        @media screen and (min-width: 1024px) {
          width: 8.625rem;
          height: 2.375rem;
        }
        @media screen and (min-width: 1280px) {
          width: 10.8125rem;
          height: 3.125rem;
        }
        @media screen and (min-width: 1440px) {
          width: 12.5625rem;
          height: 3.75rem;
        }
        @media screen and (min-width: 1920px) {
          width: 12.5rem;
          height: 3.5rem;
        }
      }
      .menu-listing {
        display: none;
        margin: 0;
        padding: 0;
        @media screen and (min-width: 768px) {
          display: flex;
        }  
        li {
          list-style: none;
          &:not(:last-child) {
            margin-right: 2.5rem;
            @media screen and (min-width: 991px) {
              margin-right: 2rem;
            }
            @media screen and (min-width: 1024px) {
              margin-right: 3.25rem;
            }
            @media screen and (min-width: 1280px) {
              margin-right: 3.75rem;
            }
            @media screen and (min-width: 1440px) {
              margin-right: 4rem;
            }
          }
          a {
            font-size: 0.875rem;
            font-weight: 500;
            text-decoration: none;
            color: #ffffff;
            @media screen and (min-width: 768px) {
              font-size: 1rem;
            }
            @media screen and (min-width: 991px) {
              font-size: 1.25rem;
            }
            @media screen and (min-width: 1280px) {
              font-size: 1.5rem;
            }
          }
        }
      }
      .btn-primary {
        display: none;
        @media screen and (min-width: 768px) {
          display: block;
          font-size: 0.5rem;
          font-weight: 500;
          line-height: 0.625rem;
          width: 5.5rem;
          border: none;
          border-radius: 4px;
          @include button-gradiant;
          padding: 0.375rem;
        }
        @media screen and (min-width: 991px) {
          font-size: 0.625rem;
          line-height: 0.75rem;
          width: 7.8125rem;
          border-radius: 6px;
          padding: 0.625rem;
        }
        @media screen and (min-width: 1024px) {
          font-size: 0.75rem;
          line-height: 0.9375rem;
          width: 8.125rem;
          padding: 0.8125rem;
        }
        @media screen and (min-width: 1280px) {
          font-size: 1rem;
          line-height: 1.1875rem;
          width: 10.8125rem;
        }
        @media screen and (min-width: 1440px) {
          font-size: 1.125rem;
          line-height: 1.375rem;
          width: 12.5rem;
          padding: 0.75rem;
        }
      }
      .responsive-button {
        img {
          width: 100%;
          height: 100%;
        }
        @media screen and (min-width: 480px) {
          width: 2rem;
          height: 1.5rem;
        }
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }
    .drawer {
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      z-index: 10;
      background-color: #000000;
      width: 17.5rem;
      height: 100vh;
      padding: 2rem 1.5rem;
      @media screen and (min-width: 480px) {
        padding: 2.1875rem 1.625rem;
        width: 23.25rem;
      }
      @media screen and (min-width: 575px) {
        padding: 3.125rem 2.25rem;
      }
      &.active {
        right: 0 !important;
      }
      .drawer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (min-width: 480px) {
          padding: 0 0.625rem;
        }
        @media screen and (min-width: 575px) {
          padding: 0;
        }
        .logo {
          img {
            width: 100%;
            height: 100%;
          }
          @media screen and (min-width: 480px) {
            width: 8.0625rem;
            height: 2.375rem;
          }
          @media screen and (min-width: 575px) {
            width: 9.375rem;
            height: 2.75rem;
          }
        }
        .back-button {
          width: 0.875rem;
          height: 0.5rem;
          img {
            width: 100%;
            height: 100%;
          }
          @media screen and (min-width: 480px) {
            width: 1.3125rem;
            height: 0.75rem;
          }
        }
      }
      ul {
        margin-top: 3.75rem;
        padding: 0;
        @media screen and (min-width: 480px) {
          margin-top: 4.125rem;
        }
        @media screen and (min-width: 575px) {
          margin-top: 3rem;
        }
        li {
          list-style: none;
          padding: 1.5rem 1.0625rem;
          border-bottom: 0.5px solid #ffffff;
          @media screen and (min-width: 480px) {
            padding: 1.75rem 1.125rem;
          }
          @media screen and (min-width: 575px) {
            padding: 1.875rem 1.125rem;
          }
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            span {
              margin-left: 1.4375rem;
              font-size: 1rem;
              font-weight: 500;
              line-height: 2.5rem;
              color: #ffffff;
              @media screen and (min-width: 480px) {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
      .btn-primary {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1rem;
        color: #ffffff;
        @include button-gradiant;
        width: 11.25rem;
        border-radius: 4px;
        border: none;
        margin: 7.5rem 1.625rem 0;
        padding: 0.6875rem;
        @media screen and (min-width: 480px) {
          width: 12.5rem;
          margin: 5rem 3.75rem 0;
        }
        @media screen and (min-width: 575px) {
          font-size: 1rem;
          line-height: 1.1875rem;
          margin: 5rem 3.125rem 0;
        }
      }
    }
  }
  .content-wrapper {
    .detail-listing {
      display: flex;
      flex-direction: column;
      margin: 4.375rem 0 0.875rem;
      @media screen and (min-width: 480px) {
        margin: 3.5rem 0 1.375rem;
      }
      @media screen and (min-width: 768px) {
        flex-direction: row;
        margin: 5rem 0 2.5rem;
      }
      @media screen and (min-width: 991px) {
        margin: 5rem 0 3.5rem;
      }
      @media screen and (min-width: 1280px) {
        margin: 8.125rem 0 2.75rem;
      }
      @media screen and (min-width: 1920px) {
        margin: 7.75rem 0 3.25rem;
      }
      .description {
        margin-bottom: 1.5rem;
        @media screen and (min-width: 480px) {
          margin-bottom: 2.1875rem;
        }
        @media screen and (min-width: 768px) {
          flex: 0 0 10.125rem;
          margin: 0 4rem 0 0;
        }
        @media screen and (min-width: 991px) {
          flex: 0 0 12.875rem;
          margin: 0 6.625rem 0 0;
        }
        @media screen and (min-width: 1024px) {
          margin: 0 7.3125rem 0 0;
        }
        @media screen and (min-width: 1280px) {
          flex: 0 0 16.875rem;
          margin: 0 9.25rem 0 0;
        }
        @media screen and (min-width: 1440px) {
          flex: 0 0 18.1875rem;
          margin: 0 11.375rem 0 0;
        }
        @media screen and (min-width: 1920px) {
          flex: 0 0 19.375rem;
          margin: 0 11.0625rem 0 0;
        }
        .logo {
          width: 7.75rem;
          height: 2.25rem;
          img {
            width: 100%;
            height: 100%;
          }
          @media screen and (min-width: 480px) {
            width: 8.875rem;
            height: 2.5rem;
          }
          @media screen and (min-width: 991px) {
            width: 11.5rem;
            height: 3.25rem;
          }
          @media screen and (min-width: 1280px) {
            width: 13.375rem;
            height: 3.75rem;
          }
          @media screen and (min-width: 1440px) {
            width: 15.1875rem;
            height: 4.375rem;
          }
        }
        p {
          line-height: 1.125rem;
          color: #ffffff;
          margin-top: 1rem;
          @media screen and (min-width: 480px) {
            font-size: 0.875rem;
            line-height: 1.375rem;
            max-width: 22.5rem;
            margin-top: 0.8125rem;
          }
          @media screen and (min-width: 768px) {
            font-size: 0.625rem;
            line-height: 1rem;
            margin-top: 1.0625rem;
            width: 100%;
          }
          @media screen and (min-width: 991px) {
            font-size: 0.75rem;
            line-height: 1.375rem;
            margin-top: 1.25rem;
          }
          @media screen and (min-width: 1280px) {
            font-size: 1rem;
            line-height: 1.625rem;
            margin-top: 2.5rem;
          }
          @media screen and (min-width: 1440px) {
            font-size: 1.125rem;
            line-height: 2rem;
            margin-top: 1.3125rem;
          }
          @media screen and (min-width: 1920px) {
            line-height: 1.8125rem;
            margin-top: 2.125rem;
          }
        }
      }
      .ul-wrapper {
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 768px) {
          flex: 1;
        }
        ul {
          max-width: 8.75rem;
          margin: 0;
          padding: 0;
          @media screen and (min-width: 480px) {
            max-width: 11.6875rem;
          }
          @media screen and (min-width: 768px) {
            max-width: 7.75rem;
          }
          @media screen and (min-width: 991px) {
            max-width: 11.125rem;
          }
          @media screen and (min-width: 1280px) {
            max-width: 14.8125rem;
          }
          @media screen and (min-width: 1440px) {
            max-width: 15.875rem;
          }
          h4 {
            color: #ffffff;
            font-weight: 700;
            margin-bottom: 1.25rem;
            @media screen and (min-width: 480px) {
              font-size: 1rem;
              margin-bottom: 1.375rem;
            }
            @media screen and (min-width: 768px) {
              font-size: 1.125rem;
              margin-bottom: 1.1875rem;
            }
            @media screen and (min-width: 991px) {
              font-size: 1.125rem;
              margin-bottom: 1.5rem;
            }
            @media screen and (min-width: 1280px) {
              font-size: 1.375rem;
              margin-bottom: 2.25rem;
            }
            @media screen and (min-width: 1440px) {
              font-size: 1.5rem;
              margin-bottom: 2rem;
            }
          }
          li {
            list-style: none;
            &:not(:last-child) {
              margin-bottom: 0.75rem;
              @media screen and (min-width: 480px) {
                margin-bottom: 1.0625rem;
              }
              @media screen and (min-width: 768px) {
                margin-bottom: 0.75rem;
              }
              @media screen and (min-width: 991px) {
                margin-bottom: 1.125rem;
              }
              @media screen and (min-width: 1024px) {
                margin-bottom: 1.625rem;
              }
              @media screen and (min-width: 1280px) {
                margin-bottom: 0.9375rem;
              }
              @media screen and (min-width: 1440px) {
                margin-bottom: 0.75rem;
              }
              @media screen and (min-width: 1920px) {
                margin-bottom: 1.4375rem;
              }
            }
            a {
              font-size: 0.625rem;
              font-weight: 300;      
              color: #ffffff;
              text-decoration: none;
              list-style: none;
              @media screen and (min-width: 480px) {
                font-size: 0.875rem;
              }
              @media screen and (min-width: 768px) {
                font-size: 0.5rem;
                line-height: 0.5rem;
              }
              @media screen and (min-width: 991px) {
                font-size: 0.75rem;
                line-height: 0.75rem;
              }
              @media screen and (min-width: 1280px) {
                font-size: 1rem;
                line-height: 1.5rem;
              }
              @media screen and (min-width: 1440px) {
                font-size: 1.125rem;
                line-height: 2.1875rem;
              }
              @media screen and (min-width: 1920px) {
                line-height: 1.4375rem;
              }
            }
          }
        }
        .contact-us {
          li {
            a {
              display: flex;
              &:last-child {
                @media screen and (min-width: 991px) {
                  align-items: center;
                }
                @media screen and (min-width: 1280px) {
                  align-items: normal;
                }
              }
              .image {
                img {
                  width: 100%;
                  height: 100%;
                  @media screen and (min-width: 480px) {
                    width: 1.0625rem;
                    height: 1.0625rem;
                  }
                  @media screen and (min-width: 768px) {
                    width: 0.8125rem;
                    height: 0.8125rem;
                  }
                  @media screen and (min-width: 991px) {
                    width: 1.125rem;
                    height: 1.125rem;
                  }
                  @media screen and (min-width: 1280px) {
                    width: 1.4375rem;
                    height: 1.4375rem;
                  }
                }
              }
              span {
                font-size: 0.625rem;
                font-weight: 300;
                margin-left: 0.4375rem;
                @media screen and (min-width: 480px) {
                  font-size: 0.875rem;
                  margin-left: 0.5rem;
                }
                @media screen and (min-width: 768px) {
                  font-size: 0.5rem;
                  margin-left: 0.875rem;
                }
                @media screen and (min-width: 991px) {
                  font-size: 0.75rem;
                }
                @media screen and (min-width: 1280px) {
                  font-size: 1rem;
                  margin-left: 1.25rem;
                }
                @media screen and (min-width: 1440px) {
                  font-size: 1.125rem;
                  margin-left: 0.875rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $footerBorderColor;
  padding: 1rem 0 2.375rem;
  @media screen and (min-width: 480px) {
    padding: 1.3125rem 0 1.25rem;
  }
  @media screen and (min-width: 768px) {
    padding: 1rem 4.375rem 1.375rem;
  }
  @media screen and (min-width: 991px) {
    padding: 2rem 4.375rem 4.75rem;
  }
  @media screen and (min-width: 1024px) {
    padding: 2rem 4.375rem 3.1875rem;
  }
  @media screen and (min-width: 1440px) {
    padding: 2.375rem 4.375rem 4.75rem;
  }
  @media screen and (min-width: 1920px) {
    padding: 2.375rem 19.375rem;
  }
  p {
    font-size: 0.5rem;
    color: #ffffff;
    margin: 0;
    @media screen and (min-width: 768px) {
      font-size: 0.75rem;
    }
    @media screen and (min-width: 991px) {
      font-size: 1.125rem;
    }
    @media screen and (min-width: 1440px) {
      font-size: 1rem;
    }
    @media screen and (min-width: 1920px) {
      font-size: 1.125rem;
    }
  }
  .social-icons {
    display: flex;
    align-items: center;
    margin: 0;
    li {
      list-style: none;
      img {
        width: 100%;
        height: 100%;
      }
      @media screen and (min-width: 480px) {
        width: 0.75rem;
        height: 0.8125rem;
      }
      @media screen and (min-width: 768px) {
        width: 0.9375rem;
        height: 1rem;
      }
      @media screen and (min-width: 991px) {
        width: 1.125rem;
        height: 1.1875rem;
      }
      &:not(:last-child) {
        margin-right: 0.375rem;
        @media screen and (min-width: 480px) {
          margin-right: 0.4375rem;
        }
        @media screen and (min-width: 768px) {
          margin-right: 1.125rem;
        }
        @media screen and (min-width: 991px) {
          margin-right: 1.4375rem;
        }
      }
    }
  }
}
