@import "./common";
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000000;
  padding: 0 1rem;
  @media screen and (min-width: 480px) {
    padding: 0 2.1875rem;
  }
  @media screen and (min-width: 768px) {
    padding: 0;
  }
}
.blur {
  filter: blur(5px);
}
.main-wrapper {
  @media screen and (min-width: 768px) {
    padding: 0 4.375rem;
  }
  @media screen and (min-width: 1920px) {
    padding: 0 19.375rem;
  }
}
main {
  .content-wrapper {
    .solution {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      margin-top: 2.5rem;
      @media screen and (min-width: 480px) {
        margin-top: 3.5rem;
      }
      @media screen and (min-width: 575px) {
        margin-top: 3.75rem;
      }
      @media screen and (min-width: 768px) {
        align-items: center;
        margin-top: 5.25rem;
      }
      @media screen and (min-width: 991px) {
        margin-top: 6.25rem;
      }
      @media screen and (min-width: 1024px) {
        margin-top: 6.875rem;
      }
      @media screen and (min-width: 1280px) {
        margin-top: 8.375rem;
      }
      @media screen and (min-width: 1440px) {
        margin-top: 8rem;
      }
      h1 {
        margin-bottom: 0.5rem;
        max-width: 21.4375rem;
        @media screen and (min-width: 480px) {
          font-size: 2.25rem;
          line-height: 2.9375rem;
          margin-bottom: 1rem;
          max-width: 25.625rem;
        }
        @media screen and (min-width: 575px) {
          max-width: 31.5625rem;
        }
        @media screen and (min-width: 768px) {
          text-align: center;
        }
        @media screen and (min-width: 991px) {
          font-size: 3.125rem;
          line-height: 3.75rem;
          max-width: 44.0625rem;
        }
        @media screen and (min-width: 1024px) {
          font-size: 3.25rem;
          max-width: 45.875rem;
        }
        @media screen and (min-width: 1280px) {
          font-size: 3.75rem;
          line-height: 4.375rem;
          max-width: 59.125rem;
          margin-bottom: 1.5rem;
        }
        @media screen and (min-width: 1440px) {
          font-size: 4.375rem;
          line-height: 5rem;
          max-width: 61.125rem;
        }
        span {
          display: block;
          font-size: 2rem;
          font-weight: 800;
          @include text-gradiant;
          @media screen and (min-width: 480px) {
            font-size: 2.25rem;
          }
          @media screen and (min-width: 991px) {
            font-size: 3.125rem;
          }
          @media screen and (min-width: 1024px) {          
            font-size: 3.25rem;
          }
          @media screen and (min-width: 1280px) {
            font-size: 3.75rem;
          }
          @media screen and (min-width: 1440px) {
            font-size: 4.375rem;
          }
        }
      }
      p {
        line-height: 1.25rem;
        margin-bottom: 1.5rem;
        @media screen and (min-width: 480px) {
          font-size: 0.875rem;
          line-height: 1.375rem;
          margin-bottom: 1.5rem;
        }
        @media screen and (min-width: 768px) {
          font-size: 1rem;
          max-width: 25.75rem;
          line-height: 1.375rem;
          margin-bottom: 2.5rem;
          text-align: center;
        }
        @media screen and (min-width: 991px) {
          font-size: 1.125rem;
          max-width: 41.25rem;
          line-height: 1.875rem;
        }
        @media screen and (min-width: 1280px) {
          max-width: 47.125rem;
          margin-bottom: 3.75rem;
        }
        @media screen and (min-width: 1440px) {
          max-width: 51.4375rem;
          margin-bottom: 3.5rem;
        }
        @media screen and (min-width: 1920px) {
          margin-bottom: 3.625rem;
        }
      }
      .btn-primary {
        font-size: 0.625rem;
        font-weight: 500;
        line-height: 0.75rem;
        width: 10.25rem;
        color: #ffffff;
        @include button-gradiant;
        border: none;
        border-radius: 4px;
        padding: 0.75rem;
        @media screen and (min-width: 480px) {
          font-size: 0.75rem;
          line-height: 0.9375rem;
          width: 11.25rem;
          padding: 0.6875rem;
        }
        @media screen and (min-width: 768px) {
          font-size: 0.875rem;
          line-height: 1.0625rem;
          width: 12.9375rem;
          padding: 0.8125rem;
        }
        @media screen and (min-width: 1280px) {
          font-size: 1.125rem;
          line-height: 1.375rem;
          width: 16.75rem;
          padding: 1.125rem;
        }
        @media screen and (min-width: 1920px) {
          width: 18.375rem;
        }
      }
    }
    .member-1 { grid-area: member-1; };
    .member-2 { grid-area: member-2; };
    .member-3 { grid-area: member-3; };
    .member-4 { grid-area: member-4; };
    .member-5 { grid-area: member-5; };
    .member {
      margin-top: 2.5rem;
      display: grid;
      grid-template-areas: 
        "member-1 member-3"
        "member-2 member-2"
        "member-4 member-5";
      gap: 1rem;
      @media screen and (min-width: 480px) {
        gap: 1.25rem;
      }
      @media screen and (min-width: 768px) {
        grid-template-areas: 
        "member-1 member-2 member-3"
        "member-4 member-2 member-5";
        margin-top: 5rem;
      }
      @media screen and (min-width: 991px) {
        margin-top: 3.75rem;
      }
      @media screen and (min-width: 1024px) {
        margin-top: 5rem;
      }
      @media screen and (min-width: 1280px) {
        margin-top: 8.125rem;
      }
      @media screen and (min-width: 1920px) {
        margin-top: 6.25rem;
        padding: 0 19.375rem;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .fit-image {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @media screen and (min-width: 768px) {  
          width: 16.625rem;
          height: 8.9375rem;
        }
        @media screen and (min-width: 991px) {
          width: 21.25rem;
          height: 11.9375rem;
        }
        @media screen and (min-width: 1024px) {
          width: 21.9375rem;
        }
        @media screen and (min-width: 1280px) {
          width: 27.3125rem;
          height: 14.9375rem;
        }
        @media screen and (min-width: 1440px) {
          width: 30.625rem;
          height: 16.75rem;
        }
        @media screen and (min-width: 1920px) {
          width: 26.25rem;
        }
      }
    }
    .services {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      margin-top: 5rem;
      @media screen and (min-width: 480px) {
        margin-top: 3.5rem;
      }
      @media screen and (min-width: 768px) {
        margin-top: 5rem;
      }
      @media screen and (min-width: 1280px) {
        margin-top: 8.125rem;
      }
      span {
        @include text-gradiant;
        margin-bottom: 0.5rem;
        @media screen and (min-width: 480px) {
          font-size: 1.125rem;
        }
        @media screen and (min-width: 768px) {
          margin-bottom: 0.75rem;
        }
        @media screen and (min-width: 991px) {
          font-size: 1.625rem;
        }
        @media screen and (min-width: 1280px) {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        @media screen and (min-width: 1440px) {
          margin-bottom: 0.5rem;
        }
        @media screen and (min-width: 1920px) {
          margin-bottom: 1rem;
        }
      }
      h3 {
        margin-bottom: 2.5rem;
        max-width: 15.875rem;
        @media screen and (min-width: 480px) {
          font-size: 1.5rem;
          max-width: 19rem;
          margin-bottom: 1.875rem;
        }
        @media screen and (min-width: 575px) {
          margin-bottom: 2.5rem;
        }
        @media screen and (min-width: 768px) {
          margin-bottom: 1.375rem;
        }
        @media screen and (min-width: 991px) {
          font-size: 2rem;
          margin-bottom: 3.75rem;
          max-width: 28.25rem;
        }
        @media screen and (min-width: 1280px) {
          font-size: 2.5rem;
          max-width: 34rem;
        }
      }
      .card-listing {
        display: grid;
        grid-template-columns: auto;
        @media screen and (min-width: 768px) {
          grid-template-columns: auto auto auto;
          gap: 1.25rem;
        }
        @media screen and (min-width: 1280px) {
          gap: 1.375rem;
        }
        @media screen and (min-width: 1440px) {
          gap: 1.125rem;
        }
        .card {
          position: relative;
          padding: 1.1875rem 2.4375rem 3.25rem 1.5rem;
          border: 1px solid;
          border-image: linear-gradient(to right, $gradiantStartColor, $gradiantEndColor);
          border-image-slice: 1;
          background-color: transparent;
          @media screen and (min-width: 480px) {
            padding: 1.5rem 3.6875rem 3.6875rem 1.625rem;
          }
          @media screen and (min-width: 575px) {
            padding: 1.5rem 6.6875rem 3.6875rem 1.625rem;
          }
          @media screen and (min-width: 768px) {
            padding: 1rem 1.1875rem 2.625rem;
          }
          @media screen and (min-width: 991px) {
            padding: 3.75rem 1.5625rem 7.125rem;
          }
          @media screen and (min-width: 1024px) {
            padding: 3.75rem 1.875rem 7.125rem;
          }
          @media screen and (min-width: 1280px) {
            padding: 4.5625rem 2.3125rem 4.375rem 1.875rem;
          }
          @media screen and (min-width: 1440px) {
            padding: 4.375rem 3.125rem 6.125rem 2.5rem;
          }
          .image {
            margin-bottom: 0.875rem;
            width: 2rem;
            height: 1.875rem;
            img {
              width: 100%;
              height: 100%;
            }
            @media screen and (min-width: 480px) {
              width: 2.375rem;
              height: 2.25rem;
              margin-bottom: 1rem;
            }
            @media screen and (min-width: 768px) {
              width: 1.5rem;
              height: 1.5rem;
            }
            @media screen and (min-width: 991px) {
              width: 2.5rem;
              height: 2.375rem;
              margin-bottom: 1.125rem;
            }
            @media screen and (min-width: 1280px) {
              width: 3.125rem;
              height: 3rem;
              margin-bottom: 1.375rem;
            }
            @media screen and (min-width: 1440px) {
              margin-bottom: 1.6875rem;
            }
          }
          h4 {
            margin-bottom: 0.875rem;
            @media screen and (min-width: 480px) {
              font-size: 1.5rem;
              margin-bottom: 0.5rem;
            }
            @media screen and (min-width: 768px) {
              font-size: 0.875rem;
            }
            @media screen and (min-width: 991px) {
              font-size: 1.25rem;
              margin-bottom: 1.0625rem;
            }
            @media screen and (min-width: 1280px) {
              font-size: 1.5rem;
              margin-bottom: 1.125rem;
            }
            @media screen and (min-width: 1440px) {
              margin-bottom: 1rem;
            }
          }
          p {
            line-height: 1.25rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            @media screen and (min-width: 480px) {
              font-size: 0.875rem;
              line-height: 1.75rem;
            }
            @media screen and (min-width: 768px) {
              font-size: 0.625rem;
              line-height: 1rem;
            }
            @media screen and (min-width: 991px) {
              font-size: 1rem;
              line-height: 1.75rem;
            }
            @media screen and (min-width: 1280px) {
              font-size: 1.125rem;
              line-height: 1.875rem;
            }
          }
          .arrow {
            position: absolute;
            left: 24px;
            bottom: 20px;
            img {
              width: 100%;
              height: 100%;
            }
            @media screen and (min-width: 480px) {
              left: 26px;
              bottom: 25px;
              width: 1.5rem;
              height: 0.75rem;
            }
            @media screen and (min-width: 575px) {
              bottom: 23px;
            }
            @media screen and (min-width: 768px) {
              left: 19px;
              bottom: 15px;
            }
            @media screen and (min-width: 991px) {
              left: 21px;
              bottom: 60px;
              width: 1.8125rem;
              height: 0.875rem;
            }
            @media screen and (min-width: 1024px) {
              left: 30px;
            }
            @media screen and (min-width: 1280px) {
              bottom: 42px;
            }
            @media screen and (min-width: 1440px) {
              left: 40px;
            }
          }
          &:not(:last-child) {
            margin-bottom: 1.0625rem;
            @media screen and (min-width: 480px) {
              margin-bottom: 1.25rem;
            }
            @media screen and (min-width: 768px) {
              margin-bottom: 0;
            }
          }
        }
      }
      .more {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.0625rem;
        padding-right: 0.375rem;
        @media screen and (min-width: 480px) {
          margin-top: 1.25rem;
        }
        @media screen and (min-width: 768px) {
          padding-right: 0.625rem;
          margin-top: 1rem;
        }
        @media screen and (min-width: 1024px) {
          margin-top: 1.875rem;
        }
        @media screen and (min-width: 1280px) {
          margin-top: 2.5rem;
        }
        p {
          font-size: 0.75rem;
          font-weight: 500;
          line-height: 1.25rem;
          color: #ffffff;
          margin: 0 0.375rem 0 0;
          @media screen and (min-width: 991px) {
            font-size: 1rem;
          }
          @media screen and (min-width: 1024px) {
            font-size: 1.125rem;
          }
          @media screen and (min-width: 1280px) {
            font-size: 1.5rem;
          }
        }
        .farward-arrow {
          display: flex;
          align-items: center;
        }
        &:hover {
          .farward-arrow {
            content: "";
            transform: translate(6px,0);
            transition: 0.3s;
            @media screen and (min-width: 768px) {
              transform: translate(10px,0);
            }
          }
        }
      }
    }
    .about-us {
      margin-top: 5rem;
      @media screen and (min-width: 480px) {
        margin-top: 3.5rem;
      }
      @media screen and (min-width: 768px) {
        margin-top: 3.5rem;
      }
      @media screen and (min-width: 991px) {
        margin-top: 5rem;
      }
      @media screen and (min-width: 1280px) {
        margin-top: 8.125rem;
      }
      .col {
        color: #ffffff;
      }
      .content {
        span {
          @include text-gradiant;
          @media screen and (min-width: 480px) {
            font-size: 1.125rem;
          }
          @media screen and (min-width: 991px) {
            font-size: 1.625rem;
          }
          @media screen and (min-width: 1280px) {
            font-size: 2rem;
          }
        }
        .tech {
          display: flex;
          margin: 0.375rem 0 0.75rem;
          @media screen and (min-width: 480px) {
            margin: 0.5rem 0 1rem;
          }
          @media screen and (min-width: 768px) {
            margin: 0.75rem 0 0.875rem;
          }
          @media screen and (min-width: 991px) {
            margin: 0.8125rem 0 1.625rem;
          }
          @media screen and (min-width: 1280px) {
            margin: 1rem 0 1.5rem;
          }
          @media screen and (min-width: 1440px) {
            margin: 0.8125rem 0 1rem;
          }
          @media screen and (min-width: 1920px) {
            margin: 1rem 0;
          }
          h3 {
            margin: 0 0.4375rem 0 0;
            @media screen and (min-width: 480px) {
              font-size: 1.5rem;
              margin:0 0.5rem 0 0;
            }
            @media screen and (min-width: 991px) {
              font-size: 2rem;
            }
            @media screen and (min-width: 1280px) {
              font-size: 2.5rem;
              margin: 0 1.25rem 0 0;
            }
          }
          .image {
            img {
              width: 100%;
              height: 100%;
            }
            @media screen and (min-width: 575px) {
              width: 1.5rem;
              height: 1.5rem;
            }
            @media screen and (min-width: 768px) {
              width: 2.25rem;
              height: 2.25rem;
            }
            @media screen and (min-width: 1440px) {
              width: 3.125rem;
              height: 3.125rem;
            }
          }
        }
        p {
          margin: 0;
          line-height: 1.125rem;
          @media screen and (min-width: 480px) {
            font-size: 0.875rem;
            line-height: 1.5rem;
          }
          @media screen and (min-width: 991px) {
            font-size: 1rem;
            max-width: 27.125rem;
          }
          @media screen and (min-width: 1280px) {
            max-width: 34.8125rem;
          }
          @media screen and (min-width: 1440px) {
            font-size: 1.125rem;
            line-height: 1.875rem;
            max-width: 40rem;
          }
        }
      }
      .data {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1.75rem 2.0625rem;
        margin-top: 2.5rem;
        padding: 0 2.125rem;
        @media screen and (min-width: 480px) {
          gap: 2.0625rem 2.375rem;
          margin-top: 1rem;
          padding: 0 1.8125rem;
        }
        @media screen and (min-width: 575px) {
          gap: 2.0625rem 6.875rem;
          margin-top: 2.5rem;
          padding: 0 2.5rem;
        }
        @media screen and (min-width: 768px) {
          gap: 1.1875rem 1.5rem;
          margin: 0;
          padding: 0 0 0 3.875rem;
        }
        @media screen and (min-width: 991px) {
          gap: 1.875rem 3.375rem;
        }
        @media screen and (min-width: 1024px) {
          gap: 0.9375rem 1.375rem;
          padding: 0 0 0 5.0625rem;
        }
        @media screen and (min-width: 1280px) {
          gap: 2.125rem 3.375rem;
          padding: 0 0 0 12.5rem;
        }
        @media screen and (min-width: 1440px) {
          gap: 1.25rem 8.625rem;
          padding: 0 0 0 8.125rem;
        }
        span {
          font-size: 2rem;
          font-weight: 800;
          @include text-gradiant;
          @media screen and (min-width: 480px) {
            font-size: 2.25rem;
          }
          @media screen and (min-width: 768px) {
            font-size: 1.5rem;
          }
          @media screen and (min-width: 991px) {
            font-size: 2rem;
          }
          @media screen and (min-width: 1440px) {
            font-size: 2.5rem;
          }
        }
        h5 {
          margin: 0.5rem 0 0;
          @media screen and (min-width: 480px) {
            font-size: 1.125rem;
            margin: 0.6875rem 0 0;
          }
          @media screen and (min-width: 768px) {
            font-size: 0.75rem;
            margin: 0.75rem 0 0;
          }
          @media screen and (min-width: 991px) {
            font-size: 1rem;
            margin: 1rem 0 0;
          }
          @media screen and (min-width: 1024px) {
            margin: 0.4375rem 0 0;
          }
          @media screen and (min-width: 1280px) {
            margin: 0.75rem 0 0;
          }
          @media screen and (min-width: 1440px) {
            font-size: 1.25rem;
            margin: 0.5rem 0 0;
          }
        }
      }
    }
    .value {
      margin-top: 5rem;
      @media screen and (min-width: 480px) {
        margin-top: 3.5rem;
      }
      @media screen and (min-width: 575px) {
        margin-top: 2.5rem;
      }
      @media screen and (min-width: 768px) {
        margin-top: 5rem;
      }
      @media screen and (min-width: 991px) {
        margin-top: 3.75rem;
      }
      @media screen and (min-width: 1024px) {
        margin-top: 2.8125rem;
      }
      @media screen and (min-width: 1280px) {
        margin-top: 4.6875rem;
      }
      @media screen and (min-width: 1440px) {
        margin-top: 8.125rem;
      }
      @media screen and (min-width: 1920px) {
        padding: 0 22.875rem;
      }
      .image {
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
        @media screen and (min-width: 768px) {
          flex: 0 0 19rem;
          height: 22.875rem;
          padding: 0;
        }
        @media screen and (min-width: 991px) {
          flex: 0 0 25.8125rem;
          height: 32.625rem;
        }
        @media screen and (min-width: 1024px) {
          flex: 0 0 27rem;
          height: 32.625rem;
        }
        @media screen and (min-width: 1280px) {
          flex: 0 0 35rem;
          height: 28.0625rem;
        }
        @media screen and (min-width: 1440px) {
          flex: 0 0 40rem;
          height: 38.5rem;
        }
        @media screen and (min-width: 1920px) {
          flex: 0 0 33.125rem;
        }
      }
      .col {
        color: #ffffff;
      }
      .content {
        margin-top: 2.5rem;
        @media screen and (min-width: 480px) {
          margin-top: 1.5rem;
        }
        @media screen and (min-width: 768px) {
          flex: 1;
          margin: 0 0 0 1.25rem;
          padding: 0;
        }
        @media screen and (min-width: 1440px) {
          margin: 0 0 0 3rem;
        }
        @media screen and (min-width: 1920px) {
          margin: 0 0 0 2.8125rem;
        }
        h3 {
          margin-bottom: 1.5rem;
          @media screen and (min-width: 575px) {
            font-size: 1.5rem;
          }
          @media screen and (min-width: 991px) {
            font-size: 2rem;
            margin-bottom: 2rem;
          }
          @media screen and (min-width: 1024px) {
            margin-bottom: 2.625rem;
          }
          @media screen and (min-width: 1280px) {
            font-size: 2.5rem;
            margin-bottom: 2.5rem;
          }
          @media screen and (min-width: 1920px) {
            margin-bottom: 3.75rem;
          }
        }
        .content-data {
          padding-left: 2.375rem;
          @media screen and (min-width: 480px) {
            padding-left: 3.375rem;
          }
          @media screen and (min-width: 575px) {
            padding-left: 2.875rem;
          }
          @media screen and (min-width: 768px) {
            padding-left: 2.125rem;
          }
          @media screen and (min-width: 991px) {
            padding-left: 3.5rem;
          }
          @media screen and (min-width: 1440px) {
            padding-left: 5.625rem;
          }
          h4 {
            margin-bottom: 0.4375rem;
            @media screen and (min-width: 480px) {
              font-size: 1.125rem;
              margin-bottom: 0.5rem;
            }
            @media screen and (min-width: 768px) {
              font-size: 0.875rem;
              margin-bottom: 1rem;
            }
            @media screen and (min-width: 991px) {
              font-size: 1.25rem;
            }
            @media screen and (min-width: 1280px) {
              margin-bottom: 1.25rem;
            }
            @media screen and (min-width: 1440px) {
              font-size: 1.5rem;
            }
          }
          p {
            line-height: 1.0625rem;
            @media screen and (min-width: 480px) {
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
            @media screen and (min-width: 768px) {
              font-size: 0.75rem;
              line-height: 1.0625rem;
            }
            @media screen and (min-width: 991px) {
              font-size: 0.875rem;
              line-height: 1.5rem;
            }
            @media screen and (min-width: 1280px) {
              font-size: 1.125rem;
            }
            @media screen and (min-width: 1440px) {
              line-height: 1.875rem;
            }
          }
          .deliver {
            position: relative;
            .rank {
              position: absolute;
              top: -5px;
              left: -38px;
              img {
                width: 100%;
                height: 100%;
              }
              @media screen and (min-width: 480px) {
                top: -4px;
                left: -54px;
              }
              @media screen and (min-width: 575px) {
                top: -3px;
                left: -46px;
              }
              @media screen and (min-width: 768px) {
                top: -5px;
                left: -34px;
              }
              @media screen and (min-width: 991px) {
                width: 1.9375rem;
                height: 1.9375rem;
                top: -3px;
                left: -56px;
              }
              @media screen and (min-width: 1440px) {
                left: -64px;
                top: -1px;
              }
            }
          }
          .outcome {
            @extend .deliver;
          }
          .scale {
            @extend .deliver;
          }
        }
      }
    }
    .project-1 { grid-area: project1; };
    .project-2 { grid-area: project2; };
    .project-3 { grid-area: project3; };
    .project-4 { grid-area: project4; };
    .project-5 { grid-area: project5; };
    .portfolio {
      display: flex;
      flex-direction: column;
      margin-top: 5rem;
      @media screen and (min-width: 480px) {
        margin-top: 3.5rem;
      }
      @media screen and (min-width: 768px) {
        align-items: center;
        margin-top: 5rem;
      }
      @media screen and (min-width: 991px) {
        margin-top: 5.3125rem;
      }
      @media screen and (min-width: 1024px) {
        margin-top: 5rem;
      }
      @media screen and (min-width: 1280px) {
        margin-top: 8.125rem;
      }
      @media screen and (min-width: 1920px) {
        padding: 0 19.375rem;
      }
      span {
        @include text-gradiant;
        margin-bottom: 0.375rem;
        @media screen and (min-width: 480px) {
          font-size: 1.125rem;
          margin: 0 0 0.5rem 0;
        }
        @media screen and (min-width: 768px) {
          margin: 0 0 0.75rem 0;
        }
        @media screen and (min-width: 991px) {
          font-size: 1.625rem;
        }
        @media screen and (min-width: 1280px) {
          font-size: 2rem;
          margin: 0 0 1rem 0;
        }
        @media screen and (min-width: 1440px) {
          margin: 0 0 0.5rem 0;
        }
        @media screen and (min-width: 1920px) {
          margin: 0 0 1rem 0;
        }
      }
      h3 {
        color: #ffffff;
        margin-bottom: 2.5rem;
        @media screen and (min-width: 480px) {
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
        }
        @media screen and (min-width: 768px) {
          margin-bottom: 2.5rem;
        } 
        @media screen and (min-width: 991px) {
          font-size: 2rem;
          margin-bottom: 3.75rem;
        }
        @media screen and (min-width: 1280px) {
          font-size: 2.5rem;
          margin-bottom: 3rem;
        }
        @media screen and (min-width: 1440px) {
          margin-bottom: 3.75rem;
        }
      }
      .project {
        display: grid;
        grid-template-areas: 
          "project1 project3"
          "project2 project2"
          "project4 project5";
        gap: 1rem;
        @media screen and (min-width: 480px) {
          gap: 1.25rem;
        }
        @media screen and (min-width: 768px) {
          grid-template-areas: 
          "project1 project2 project3"
          "project4 project2 project5";
        }
        img {
          width: 100%;
          height: 100%;
        }
        .fit-image {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          @media screen and (min-width: 768px) {  
            width: 13.25rem;
            height: 8.9375rem;
          }
          @media screen and (min-width: 991px) {
            width: 16.75rem;
            height: 13.375rem;
          }
          @media screen and (min-width: 1024px) {
            width: 17.25rem;
          }
          @media screen and (min-width: 1280px) {
            width: 21.25rem;
            height: 16.75rem;
          }
          @media screen and (min-width: 1440px) {
            width: 23.75rem;
            height: 18.75rem;
          }
          @media screen and (min-width: 1920px) {
            width: 22.5625rem;
            height: 15.1875rem;
          }
        }
        .overlay-project {
          position: relative;
          .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: $overlayColor;
            @media screen and (min-width: 1920px) {
              display: none;
            }
          }
          &:hover {
            .overlay {
              display: none;
            }
          }
        }
      }
    }
    .testimonial {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 480px) {
        margin-top: 3.5rem;
      }
      @media screen and (min-width: 768px) {
        align-items: center;
        margin-top: 5rem;
        padding: 0 7.75rem;
      }
      @media screen and (min-width: 991px) {
        padding: 0 8.9375rem;
      }
      @media screen and (min-width: 1024px) {
        padding: 0 9.0625rem;
      }
      @media screen and (min-width: 1280px) {
        margin-top: 8.125rem;
        padding: 0 4.375rem 0 7.3125rem;
      }
      @media screen and (min-width: 1440px) {
        padding: 0 9.25rem 0 12.6875rem;
      }
      @media screen and (min-width: 1920px) {
        padding: 0 26.25rem;
      }
      span {
        @include text-gradiant;
        margin-bottom: 0.375rem;
        @media screen and (min-width: 480px) {
          font-size: 1.125rem;
          margin-bottom: 0.5rem;
        }
        @media screen and (min-width: 768px) {
          font-size: 1.625rem;
          margin-bottom: 0.75rem;
        }
        @media screen and (min-width: 1280px) {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        @media screen and (min-width: 1440px) {
          margin-bottom: 0.5rem;
        }
        @media screen and (min-width: 1920px) {
          margin-bottom: 1rem;
        }
      }
      h3 {
        color: #ffffff;
        max-width: 16.4375rem;
        margin-bottom: 2.5rem;
        @media screen and (min-width: 480px) {
          font-size: 1.5rem;
          max-width: 19.375rem;
        }
        @media screen and (min-width: 768px) {
          margin-bottom: 2.25rem;
          text-align: center;
        }
        @media screen and (min-width: 991px) {
          font-size: 2rem;
          max-width: 25.75rem;
          margin-bottom: 3.75rem;
        }
        @media screen and (min-width: 1280px) {
          font-size: 2.5rem;
          max-width: 35.1875rem;
        }
      }
      .testimonial-content {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px) {
          flex-direction: row;
          align-items: center;
        }
        > ul {
          @media screen and (min-width: 768px) {
            flex: 0 0 12.25rem;
          }
          @media screen and (min-width: 991px) {
            flex: 0 0 17.625rem;
          }
          @media screen and (min-width: 1280px) {
            flex: 0 0 26.4375rem;
          }
          @media screen and (min-width: 1440px) {
            flex: 0 0 26.25rem;
          }
          .anchor {
            background-color: $anchorBgPrimary;
          }
          .active {
            background-color: $anchorBgSecondary;
          }
          li {
            width: 15.8125rem;
            @media screen and (min-width: 480px) {
              width: 18.9375rem;
            }
            @media screen and (min-width: 575px) {
              width: 23.375rem;
            }
            @media screen and (min-width: 768px) {
              width: 100%;
            }
            &:not(:last-child) {
              margin-bottom: 1rem;
              @media screen and (min-width: 991px) {
                margin-bottom: 1.625rem;
              }
              @media screen and (min-width: 1280px) {
                margin-bottom: 2.0625rem;
              }
            }
            &:not(:first-child) {
              display: none;
              @media screen and (min-width: 768px) {
                display: block;
              }
            }
            a {
              display: flex;
              align-items: center;
              color: #ffffff;
              text-decoration: none;
              padding: 0.8125rem 1rem;
              @media screen and (min-width: 575px) {
                padding: 0.8125rem 1.375rem;
              }
              @media screen and (min-width: 768px) {
                padding: 0.625rem 0.8125rem;
              }
              @media screen and (min-width: 991px) {
                padding: 0.9375rem 1.25rem;
              }
              @media screen and (min-width: 1280px) {
                padding: 1.1875rem 1.5rem;
              }
              .image {
                img {
                  width: 100%;
                  height: 100%;
                }
                @media screen and (min-width: 480px) {
                  width: 3.75rem;
                  height: 3.75rem;
                }
                @media screen and (min-width: 575px) {
                  width: 4.25rem;
                  height: 4.25rem;
                }
                @media screen and (min-width: 768px) {
                  width: 2.375rem;
                  height: 2.375rem;
                }
                @media screen and (min-width: 991px) {
                  width: 3.3125rem;
                  height: 3.3125rem;
                }
                @media screen and (min-width: 1280px) {
                  width: 4.25rem;
                  height: 4.25rem;
                }
              }
              .person {
                margin-left: 0.75rem;
                @media screen and (min-width: 480px) {
                  margin-left: 1.25rem;
                }
                @media screen and (min-width: 575px) {
                  margin-left: 0.8125rem;
                }
                @media screen and (min-width: 768px) {
                  margin-left: 0.625rem;
                }
                @media screen and (min-width: 991px) {
                  margin-left: 0.8125rem;
                }
                @media screen and (min-width: 1280px) {
                  margin-left: 1rem;
                }
                h5 {
                  margin-bottom: 0.125rem;
                  @media screen and (min-width: 480px) {
                    font-size: 1rem;
                    margin-bottom: 0.1875rem;
                  }
                  @media screen and (min-width: 575px) {
                    font-size: 1.125rem;
                    margin-bottom: 0.25rem;
                  }
                  @media screen and (min-width: 768px) {
                    font-size: 0.75rem;
                    margin-bottom: 0;
                  }
                  @media screen and (min-width: 991px) {
                    font-size: 0.875rem;
                  }
                  @media screen and (min-width: 1280px) {
                    font-size: 1.125rem;
                  }
                }
                p {
                  font-size: 0.625rem;
                  margin: 0;
                  @media screen and (min-width: 480px) {
                    font-size: 0.75rem;
                  }
                  @media screen and (min-width: 575px) {
                    font-size: 0.875rem;
                  }
                  @media screen and (min-width: 768px) {
                    font-size: 0.5rem;
                  }
                  @media screen and (min-width: 991px) {
                    font-size: 0.6875rem;
                  }
                  @media screen and (min-width: 1280px) {
                    font-size: 0.875rem;
                  }
                }
              }
            }
          }
        }
        .tab-content {
          color: #ffffff;
          margin: 1.5rem 0 0;
          padding: 0;
          @media screen and (min-width: 768px) {
            flex: 1;
            margin: 0 0 0 4.5rem;
          }
          @media screen and (min-width: 991px) {
            margin: 0 0 0 6.0625rem;
          }
          @media screen and (min-width: 1024px) {
            margin: 0 0 0 5.9375rem;
          }
          @media screen and (min-width: 1280px) {
            margin: 0 0 0 6.875rem;
          }
          @media screen and (min-width: 1440px) {
            margin: 0 0 0 8.0625rem;
          }
          #first-client {
            h4 {
              line-height: 2rem;
              margin-bottom: 0.5rem;
              @media screen and (min-width: 480px) {
                font-size: 1.125rem;
                line-height: 2.375rem;
                margin-bottom: 0.0625rem;
              }
              @media screen and (min-width: 575px) {
                margin-bottom: 0.75rem;
              }
              @media screen and (min-width: 768px) {
                font-size: 1rem;
                margin-bottom: 0.4375rem;
                line-height: 1.6875rem;
              }
              @media screen and (min-width: 991px) {
                font-size: 1.5rem;
                line-height: 2.375rem;
              }
              @media screen and (min-width: 1280px) {
                font-size: 1.5rem;
                line-height: 3.125rem;
                margin-bottom: 0.125rem;
              }
            }
            .star-rating {
              display: flex;
              list-style: none;
              height: 0.8125rem;
              padding: 0;
              margin: 0 0 1.5rem 0;
              @media screen and (min-width: 480px) {
                margin: 0 0 0.75rem 0;
              }
              @media screen and (min-width: 991px) {
                margin: 0 0 1.5rem 0;
              }
              @media screen and (min-width: 1440px) {
                margin: 0 0 1.25rem 0;
              }
              @media screen and (min-width: 1920px) {
                margin: 0 0 1rem 0;
              }
              li {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                width: 0.6875rem;
                img {
                  width: 100%;
                  height: 100%;
                }
                @media screen and (min-width: 480px) {
                  height: 1.125rem;
                  width: 1.125rem;
                }
                @media screen and (min-width: 768px) {
                  height: 0.9375rem;
                  width: 0.9375rem;
                }
                @media screen and (min-width: 991px) {
                  height: 1.125rem;
                  width: 1.125rem;
                }
                @media screen and (min-width: 1280px) {
                  height: 1.5rem;
                  width: 1.625rem;
                }
                @media screen and (min-width: 1440px) {
                  width: 1.5rem;
                }
                &:not(:last-child) {
                  margin-right: 0.1875rem;
                  @media screen and (min-width: 480px) {
                    margin-right: 0.25rem;
                  }
                  @media screen and (min-width: 1280px) {
                    margin-right: 0.375rem;
                  }
                  @media screen and (min-width: 1440px) {
                    margin-right: 0.3125rem;
                  }
                }
              }
            }
            p {
              font-size: 0.625rem;
              width: 100%;
              line-height: 1.25rem;
              margin: 0;
              @media screen and (min-width: 480px) {
                font-size: 0.875rem;
                line-height: 1.5rem;
              }
              @media screen and (min-width: 768px) {
                font-size: 0.625rem;
                line-height: 1.125rem;
              }
              @media screen and (min-width: 991px) {
                font-size: 0.875rem;
                line-height: 1.5rem;
              }
              @media screen and (min-width: 1280px) {
                font-size: 1.125rem;
                line-height: 1.875rem;
              }
              &:not(:last-child) {
                margin-bottom: 1rem;
                @media screen and (min-width: 480px) {
                  margin-bottom: 0.75rem;
                }
                @media screen and (min-width: 768px) {
                  margin-bottom: 0;
                }
                @media screen and (min-width: 991px) {
                  margin-bottom: 1rem;
                }
                @media screen and (min-width: 1440px) {
                  padding: 1rem 1.5rem 0;
                  margin-bottom: 1.5rem;
                }
                @media screen and (min-width: 1920px) {
                  padding: 0;
                  margin-bottom: 1rem;
                }
              }
              &:last-child {
                @media screen and (min-width: 768px) {
                  display: none;
                }
                @media screen and (min-width: 991px) {
                  display: block;
                }
                @media screen and (min-width: 1440px) {
                  padding: 0 1.5rem 1rem;
                }
                @media screen and (min-width: 1920px) {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
